PORT=5000
MONGO_URI=mongodb+srv://subadmin:Sr4Qxh1kcIa1mOF4@cluster0.wdpacmi.mongodb.net/?appName=Cluster0
JWT_SECRET=219d389c4fdc3272d5ddff497ca5b95fe990145a86ce4601acc6336eb1d9fb9f
NODE_ENV=development
